<h1>Welcome to the home page {{fname}} {{fname}} {{fname}}</h1>
<h2>Your data</h2>
<ul>
   <li>name: {{fname}}</li>
   <li>lname: {{lname}}</li>
   <li>id: {{id}}</li>
   <li>username: {{username}}</li>
   <li>dept: {{dept}}</li>
   <li>batch: {{batch}}</li>
    <li>section: {{section}}</li>
    <li>CGPAP: {{CGPA}}</li>
</ul>

<div>
    <a href="/logout">Logout</a>
</div>